DB_HOST=mysql
DB_ROOT_PASSWORD=example

DB_NAME_39=wp39
DB_USER_39=wp_user_39
DB_PASSWORD_39=example

DB_NAME_40=wp40
DB_USER_40=wp_user_40
DB_PASSWORD_40=example

DB_NAME_41=wp41
DB_USER_41=wp_user_41
DB_PASSWORD_41=example

DB_NAME_42=wp42
DB_USER_42=wp_user_42
DB_PASSWORD_42=example

DB_NAME_43=wp43
DB_USER_43=wp_user_43
DB_PASSWORD_43=example

DB_NAME_44=wp44
DB_USER_44=wp_user_44
DB_PASSWORD_44=example

DB_NAME_45=wp45
DB_USER_45=wp_user_45
DB_PASSWORD_45=example

DB_NAME_46=wp46
DB_USER_46=wp_user_46
DB_PASSWORD_46=example

DB_NAME_47=wp47
DB_USER_47=wp_user_47
DB_PASSWORD_47=example

DB_NAME_48=wp48
DB_USER_48=wp_user_48
DB_PASSWORD_48=example

DB_NAME_49=wp49
DB_USER_49=wp_user_49
DB_PASSWORD_49=example

DB_NAME_496=wp496
DB_USER_496=wp_user_496
DB_PASSWORD_496=example

DB_NAME_498=wp498
DB_USER_498=wp_user_498
DB_PASSWORD_498=example

