DB_HOST=mysql
DB_ROOT_PASSWORD=example

DB_NAME_391=wp391
DB_USER_391=wp_user_391
DB_PASSWORD_391=example

DB_NAME_392=wp392
DB_USER_392=wp_user_392
DB_PASSWORD_392=example

DB_NAME_4024=wp4024
DB_USER_4024=wp_user_4024
DB_PASSWORD_4024=example

DB_NAME_412=wp412
DB_USER_412=wp_user_412
DB_PASSWORD_412=example

DB_NAME_424=wp424
DB_USER_424=wp_user_424
DB_PASSWORD_424=example

DB_NAME_431=wp431
DB_USER_431=wp_user_431
DB_PASSWORD_431=example

DB_NAME_442=wp442
DB_USER_442=wp_user_442
DB_PASSWORD_442=example

DB_NAME_453=wp453
DB_USER_453=wp_user_453
DB_PASSWORD_453=example

DB_NAME_461=wp461
DB_USER_461=wp_user_461
DB_PASSWORD_461=example

DB_NAME_475=wp475
DB_USER_475=wp_user_475
DB_PASSWORD_475=example

DB_NAME_480=wp480
DB_USER_480=wp_user_480
DB_PASSWORD_480=example

DB_NAME_483=wp483
DB_USER_483=wp_user_483
DB_PASSWORD_483=example

DB_NAME_490=wp490
DB_USER_490=wp_user_490
DB_PASSWORD_490=example

DB_NAME_496=wp496
DB_USER_496=wp_user_496
DB_PASSWORD_496=example

DB_NAME_498=wp498
DB_USER_498=wp_user_498
DB_PASSWORD_498=example

