DB_HOST=mysql
DB_ROOT_PASSWORD=example

DB_NAME_32=wp32
DB_USER_32=wp_user_32
DB_PASSWORD_32=example

DB_NAME_33=wp33
DB_USER_33=wp_user_33
DB_PASSWORD_33=example

DB_NAME_34=wp34
DB_USER_34=wp_user_34
DB_PASSWORD_34=example

DB_NAME_35=wp35
DB_USER_35=wp_user_35
DB_PASSWORD_35=example

DB_NAME_36=wp36
DB_USER_36=wp_user_36
DB_PASSWORD_36=example

DB_NAME_37=wp37
DB_USER_37=wp_user_37
DB_PASSWORD_37=example

DB_NAME_38=wp38
DB_USER_38=wp_user_38
DB_PASSWORD_38=example

DB_NAME_3827=wp3827
DB_USER_3827=wp_user_3827
DB_PASSWORD_3827=example

DB_NAME_39=wp39
DB_USER_39=wp_user_39
DB_PASSWORD_39=example

DB_NAME_394=wp394
DB_USER_394=wp_user_394
DB_PASSWORD_394=example

DB_NAME_3920=wp3920
DB_USER_3920=wp_user_3920
DB_PASSWORD_3920=example